@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  
  --color-brand-primary: #0a0a0a;
  --color-brand-accent: #3b82f6; /* blue-500 */
  --color-brand-bg: #000000;
  --color-brand-paper: #1a1a1a;
  --color-brand-border: #262626;
}

body {
  @apply bg-brand-bg text-stone-100 font-sans antialiased selection:bg-blue-500/30 selection:text-white;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-stone-300 rounded-full;
}

.glass-panel {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
}

